.text {
    width: 100%;
    top: 25vh;
    position: absolute;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 16rem;
    line-height: 22.36rem;
    white-space: nowrap;

    &_content {
        color: rgb(0, 173, 181);

        &_border {
            color: transparent;
            -webkit-text-stroke: 0.02em rgb(0, 173, 181);
        }
    }
}

.second {
    position: absolute;
    right: 0;
    left: auto;
}
